/.streamlit/secrets.toml


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env

# Streamlit
.streamlit/

# Operating System Files
.DS_Store
Thumbs.db